
.reqField:before{
	content:"*" ;
	color:red;
}
.calHeader{
}
.defLeftHeaderClass{
	padding-right: 50px;
}
.defStyle{
	background-color: white;
	border-style: solid;
	border-width: 0.5px;
	border-color: lightgrey;
}
.defStyle:hover{
	background-color: #f2f2f2;
	border-width: 0.7px;
}
.calSelect{
	background-color: #bcd6ff;
}
.calSelect:hover{
	background-color: #abc5ee;
}
.calWeekRow{

}
.calWeek{
	object-fit: cover;
}
.calWeek:hover{
}
.calDay{
}
.calDay:before{
}
.calHour{
	min-height: 2%;
	object-fit: cover;
}
.calDayW{
}
.calDayD{
}
.currMonth{
	color:black;
}
.currMonthNot{
	color:grey;
}
select.monthSel{
	width:100px;
	text-align: center;
	text-align-last: center;
	border-right: none;
}
.monthSel{
	color:black;
	text-align: center;
}
select.yearSel{
	width:50px;
	text-align: center;
	text-align-last: center;
}
.yearSel{
	color:black;
	text-align: center;
}
select.daySel{
	width:50px;
	text-align: center;
	text-align-last: center;
}
.daySel{
	color:black;
	text-align: center;
}
.calListView{
	overflow-y: scroll;
	height: 800px;
	border-top : grey;
}
.calListElem{
	width: 100%;
	height: 100px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 2px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 10px;
}

.slider.round:before {
  border-radius: 50%;
}
.check_container {
  display: block;
  position: relative;
  padding-top: 2px;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.check_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.check_container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check_container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check_container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check_container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.friendsSelectDropdown{
	height: 200px;
	overflow-y: scroll;
}
