
{% load static %}
<script src="{% static 'user_interface/js/renderCalendar.js' %}"> </script>
<script src="{% static 'user_interface/js/calendarData.js' %}"> </script>
<link rel="stylesheet" href="{% static 'user_interface/css/calendar.css' %}">

<div class="container calCont" style="width:100%;">
	  	<div id="cal_control_bar">
	  		<nav class="navbar navbar-expand navbar-dark bg-dark" style="z-index: 0;">
		      	<ul class= "navbar-nav ml-auto">
			        <li class="nav-item" onclick="leftArrowClick()">
			          <a class="nav-link" href="#" id="prev_button"><i class="material-icons left">arrow_left</i></a>
			        </li>
			        <li class="nav-item" onclick="currButtonClick()">
			          <a class="nav-link" href="#" id="curr_button"><i class="material-icons left">fiber_manual_record</i></a>
			        </li>
			        <li class="nav-item" onclick="rightArrowClick()">
			          <a class="nav-link" href="#" id="next_button"><i class="material-icons left">arrow_right</i></a>
			        </li>
		        </ul>
		      <div class="collapse navbar-collapse" id="collapsableNav">
		        <ul class="navbar-nav mr-auto">
		          <li class="nav-item dropdown">
		          </li>
		        </ul>
		        <ul class="navbar-nav">
		          <li class="nav-item">
		            <div class="monthBar justify-content-center" style="">
					  <select class="monthSel" id="month_sel" data-style="monthSel" onchange="monthYearUpdate();">
					  </select>
					</div>
		          </li>
		          <li class="nav-item">
		            <div class="dayBar justify-content-center" style="">
					  <select class="daySel" id="day_sel" data-style="daySel" onchange="dayWeekUpdate();">
					  </select>
					</div>
		          </li>
		          <li class="nav-item">
		            <div class="yearBar justify-content-center" style="">
					  <select class="yearSel" id="year_sel" data-style="yearSel" onchange="monthYearUpdate();">
					  </select>
					</div>
		          </li>
		        </ul>
		        
		        <ul class= "navbar-nav ml-auto">
		          <li class="nav-item">
		            <a class="nav-link" href="#" onclick="switchCalendarView('cal_grid_cont', 'month');" id="month_button" aria-expanded="false">Month</a>
		          </li>
		          <li class="nav-item">
		            <a class="nav-link" href="#" onclick="switchCalendarView('cal_grid_cont', 'week');" id="week_button" aria-expanded="false">Week</a>
		          </li>
		          <li class="nav-item">
		            <a class="nav-link" href="#" onclick="switchCalendarView('cal_grid_cont', 'day');" id="day_button" aria-expanded="false">Day</a>
		          </li>
		          <li class="nav-item">
		            <a class="nav-link" href="#" onclick="switchCalendarView('cal_grid_cont', 'list');" id="list_button" aria-expanded="false">List</a>
		          </li>
		        </ul>
		      </div>
		    </nav>
	  	<div>
	  	<div id="sub_control_bar">
	  		<nav class="navbar navbar-expand navbar-dark bg-dark" style="z-index: 20;">
		      	<ul class= "navbar-nav ml-auto">
			        <li class="nav-item" style="color: white; padding-top:15px">
			        	Freetime
			        </li>
			        <li style="padding-left:15px;">
		        	<label class="switch">
					  <input type="checkbox">
					  <span class="slider round"></span>
					</label>
					</li>
					<li style="padding-left:30px;">
						<div class="dropdown" >
						  <button class="btn btn-secondary dropdown-toggle" type="button" id="friends_select_dropdown_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding-top: 16px; color:white;">
						    Friends
						  </button>
						  <div class="dropdown-menu friendsSelectDropdown overAll" aria-labelledby="friends_select_dropdown_button"
						  	style="position:absolute; z-index: 20;"
						  >
						  	<form id="friend_select_dropdown" style="z-index: 20;">
							</form>
						  </div>
						</div>
					</li>
		        </ul>
		      <div class="collapse navbar-collapse" id="sub_control_bar_nav">
		        <ul class="navbar-nav mr-auto">
		        </ul>
		        <ul class="navbar-nav">
		          <li class="nav-item">
		            <div class="monthBar justify-content-center" style="">
					</div>
		          </li>
		          <li class="nav-item">
		            <div class="dayBar justify-content-center" style="">
					</div>
		          </li>
		          <li class="nav-item">
		            <div class="yearBar justify-content-center" style="">
					</div>
		          </li>
		        </ul>
		        
		        <ul class= "navbar-nav ml-auto">
		          <li class="nav-item">
					<a class="nav-link" href="#" id="create_event_button"><i class="material-icons left" data-toggle="modal" data-target="#createEventModal">add_circle_outline</i></a>
		          </li>
		        </ul>
		      </div>
		    </nav>
	  	<div>

	  	<div id="cal_top_head">
	  	</div>
	  	<div id="cal_grid_cont" style="padding-top: 20px;">
	  		
			  	</div>
	</div>
	<div class="modal fade" id="createEventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="createEventModalLongTitle">Create a New Event</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form action="/profile/" method="post">
			  	<div class="form-group">
				    <label class="reqField" for="inputEventName">Event Name</label>
				    <input onchange="updateEventForm()" type="text" class="form-control" id="inputEventName" pattern="^[a-zA-Z0-9 ]*$" required>
				</div>
				<div class="form-row">
				  <div class="form-group col-md-6">
				    <label class="reqField" for="inputStartDate">Start Date</label>
				    <input onchange="updateEventForm()" class="form-control" type="date" id="inputStartDate" pattern="(?n:^(?=\d)((?<month>(0?[13578])|1[02]|(0?[469]|11)(?!.31)|0?2(?(.29)(?=.29.((1[6-9]|[2-9]\d)(0[48]|[2468][048]|[13579][26])|(16|[2468][048]|[3579][26])00))|(?!.3[01])))(?<sep>[-./])(?<day>0?[1-9]|[12]\d|3[01])\k<sep>(?<year>(1[6-9]|[2-9]\d)\d{2})(?(?=\x20\d)\x20|$))?(?<time>((0?[1-9]|1[012])(:[0-5]\d){0,2}(?i:\x20[AP]M))|([01]\d|2[0-3])(:[0-5]\d){1,2})?$)$" required>
				  </div>	
				  <div class="form-group col-md-6">
				    <label class="reqField" for="inputEndDate">End Date</label>
				    <input onchange="updateEventForm()" class="form-control" type="date" id="inputEndDate" pattern="(?n:^(?=\d)((?<month>(0?[13578])|1[02]|(0?[469]|11)(?!.31)|0?2(?(.29)(?=.29.((1[6-9]|[2-9]\d)(0[48]|[2468][048]|[13579][26])|(16|[2468][048]|[3579][26])00))|(?!.3[01])))(?<sep>[-./])(?<day>0?[1-9]|[12]\d|3[01])\k<sep>(?<year>(1[6-9]|[2-9]\d)\d{2})(?(?=\x20\d)\x20|$))?(?<time>((0?[1-9]|1[012])(:[0-5]\d){0,2}(?i:\x20[AP]M))|([01]\d|2[0-3])(:[0-5]\d){1,2})?$)$" required>
				  </div>
				</div>
				<div class="form-row">
				  <div class="form-group col-md-6">
				    <label class="reqField" for="inputRepeatType">Repeat</label>
				    <select onchange="updateEventForm()" class="form-control" id="inputRepeatType">
					  <option value="day"  selected="selected">Daily</option>
					  <option value="week">Weekly</option>
					  <option value="month">Monthly</option>
					  <option value="year">Yearly</option>
					</select>
				  </div>	
				  <div class="form-group col-md-6">
				    <label class="reqField" for="inputUntilDate">Until</label>
				    <input onchange="updateEventForm()" class="form-control" type="date" id="inputUntilDate" pattern="(?n:^(?=\d)((?<month>(0?[13578])|1[02]|(0?[469]|11)(?!.31)|0?2(?(.29)(?=.29.((1[6-9]|[2-9]\d)(0[48]|[2468][048]|[13579][26])|(16|[2468][048]|[3579][26])00))|(?!.3[01])))(?<sep>[-./])(?<day>0?[1-9]|[12]\d|3[01])\k<sep>(?<year>(1[6-9]|[2-9]\d)\d{2})(?(?=\x20\d)\x20|$))?(?<time>((0?[1-9]|1[012])(:[0-5]\d){0,2}(?i:\x20[AP]M))|([01]\d|2[0-3])(:[0-5]\d){1,2})?$)$" required>
				  </div>
				</div>
				<div id="inputRepeatPattern">
					
				</div>
				<div class="form-group">
				    <label for="inputInviteList">Invite</label>
				    <input onchange="updateEventForm()" type="text" class="form-control" id="inputInviteList" pattern="^[a-zA-Z0-9 ]*$">
				</div>
				<div class="form-row">
				  <div class="form-group col-md-6">
				    <label for="inputWhitelist">Whitelist</label>
				    <input onchange="updateEventForm()" type="text" class="form-control" id="inputWhitelist" pattern="^[a-zA-Z0-9 ]*$">
				  </div>	
				  <div class="form-group col-md-6">
				    <label for="inputBlacklist">Blacklist</label>
				    <input onchange="updateEventForm()" type="text" class="form-control" id="inputBlacklist" pattern="^[a-zA-Z0-9 ]*$">
				  </div>
				</div>
				{% csrf_token %}
				{{ event_form.as_ul }}
				<input type="hidden" name="formType" value="SubmitEvent">
				<script type="text/javascript">
					function updateEventForm(){
						// Event Name
						var prefix = "id_EI";
						var enter_name = document.getElementById("inputEventName");
						var form_name = document.getElementById(prefix + "name");
						form_name.value = enter_name.value;
						var enter_start = document.getElementById("inputStartDate");
						var form_start = document.getElementById(prefix + "start");
						form_start.value = enter_start.value;
						var enter_end = document.getElementById("inputEndDate");
						var form_end = document.getElementById(prefix + "end");
						form_end.value = enter_end.value;
						var enter_repeat = document.getElementById("inputRepeatType");
						var form_repeat = document.getElementById(prefix + "repeat");
						form_repeat.value = enter_repeat.value;
						var enter_until = document.getElementById("inputUntilDate");
						var form_until = document.getElementById(prefix + "until");
						form_until.value = enter_until.value;
						// Invite
						var enter_invite = document.getElementById("inputInviteList");
						var form_invite = document.getElementById(prefix + "invite");
						form_invite.value = enter_invite.value;

						// Whitelist
						var enter_whitelist = document.getElementById("inputWhitelist");
						var form_whitelist = document.getElementById(prefix + "whitelist");
						form_whitelist.value = enter_whitelist.value;

						// Blacklist
						var enter_blacklist = document.getElementById("inputBlacklist");
						var form_blacklist = document.getElementById(prefix + "blacklist");
						form_blacklist.value = enter_blacklist.value;
					}
				</script>
			  <button type="submit" class="btn btn-primary">Create Event</button>
			</form>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="modal fade" id="editEventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="editEventModalLongTitle">Edit</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form>
				<div class="form-group">
				    <label class="reqField" for="inputEmailLogin">Email Address</label>
				    <input type="text" class="form-control" id="inputEmailLogin" pattern="^([\w\-\.]+)@((\[([0-9]{1,3}\.){3}[0-9]{1,3}\])|(([\w\-]+\.)+)([a-zA-Z]{2,4}))$" required>
				</div>
				<button type="submit" class="btn btn-primary">Login Button Here</button>
				</form>
	      </div>
	    </div>
	  </div>
	</div>