{% extends "user_interface/header.html"%}

{% block content %}
	<div class="container">
    <h1>Edit Profile</h1>
  	<hr>
	<div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
          <h6>Upload a different photo...</h6>
          
          <input type="file" class="form-control">
        </div>
      </div>
      
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <div class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <i class="fa fa-coffee"></i>
          This is an <strong>.alert</strong>. Use this to show important messages to the user.
        </div>
        <h3>Personal info</h3>
        
        <form class="form-horizontal" role="form">
        	<div class="form-row d-flex">
            <div class="col-lg-8">
				<label class="float-right" for="blankLine" style="color:#ff3f3f; text-align: right;">&nbsp* Denotes a Required Field</label>
				<div id="blankLine"></div>
			</div>
			</div>
          <div class="form-group">
            <label class="reqField col-lg-3 control-label">First name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="reqField col-lg-3 control-label">Last name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="reqField col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input class="form-control" type="email">
            </div>
          </div>
          <div class="form-group">
            <label class="reqField col-lg-3 control-label">Confirm Email:</label>
            <div class="col-lg-8">
              <input class="form-control" type="email">
            </div>
          </div>
          <div class="form-group">
            <label class="reqField col-lg-3 control-label" id="birthday">Birthday:</label>
            <div class="col-lg-8">
              <input class="form-control" type="date" id="birthday" pattern="(?n:^(?=\d)((?<month>(0?[13578])|1[02]|(0?[469]|11)(?!.31)|0?2(?(.29)(?=.29.((1[6-9]|[2-9]\d)(0[48]|[2468][048]|[13579][26])|(16|[2468][048]|[3579][26])00))|(?!.3[01])))(?<sep>[-./])(?<day>0?[1-9]|[12]\d|3[01])\k<sep>(?<year>(1[6-9]|[2-9]\d)\d{2})(?(?=\x20\d)\x20|$))?(?<time>((0?[1-9]|1[012])(:[0-5]\d){0,2}(?i:\x20[AP]M))|([01]\d|2[0-3])(:[0-5]\d){1,2})?$)$" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Phone Number:</label>
            <div class="col-lg-8">
              <input type="tel" class="form-control" id="inputPhone">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Organization:</label>
            <div class="col-lg-8">
		    	<input type="text" class="form-control" id="inputOrganization">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input type="button" class="btn btn-primary" value="Save Changes">
              <span></span>
              <input type="reset" class="btn btn-default" value="Cancel">
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
<hr>

	<style type="text/css">
		.reqField:before{
			content:"*" ;
     color:red;
		}
	</style>

<script type="text/javascript">
		var today = new Date();
		var dd = today.getDate();
		var mm = today.getMonth()+1; //January is 0!
		var yyyy = today.getFullYear() - 18;
		if(dd<10){
        dd='0'+dd
    } 
    if(mm<10){
        mm='0'+mm
    } 
		today = yyyy+'-'+mm+'-'+dd;
		document.getElementById("birthday").setAttribute("max", today);

</script>

{% endblock %}
