{% extends "user_interface/header.html"%}

{% block content %}

<!-- @Author: Michael Resnik, Mark Bures (design) -->
<!-- @see: user_interface/profile.html -->

<div class="container">
	<div class="container" style="padding-top:20px;">
		<div class="row">
			<div class="col-8">
				<div class="group-head" id="groupNameDisplay"> Group Name </div>
			</div>
			<div class="col-4">
				<button class="joinGroupButton" style="display: none;" onclick="joinGroupClicked();" id="joinGroupButton"> Join Group </button>
				<form action="/profile/" method="post">
					{% csrf_token %}
					{{ group_forms.join_group.as_ul }}
					<input type="hidden" name="formType" value="JoinGroup">
					<input type="submit" style="display: none;" id="submitJoinGroup">
				</form>
				<button class="leaveGroupButton" style="display: none;"  onclick="leaveGroupClicked();" id="leaveGroupButton"> Leave Group </button>
				<form action="/profile/" method="post">
					{% csrf_token %}
					{{ group_forms.leave_group.as_ul }}
					<input type="hidden" name="formType" value="LeaveGroup">
					<input type="submit" style="display: none;" id="submitLeaveGroup">
				</form>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="container">
			<h3>Description</h3>
			<div class="col" id="groupDescDisplay">
			</div>
		</div>
	</div>
	</br>
	<hr>
	</br>
	<div class="row">
		<div class="container">
		<h3>Admins</h3>
		<div class="container-fluid admin">
			<div class="row flex-row flex-nowrap" id="admin_cont_div">
			</div>
		</div>
		</div>
	</div>

	<div class="row">
		<div class="container">
		<h3>Members <i class="addMember material-icons right" id="addMemberID" style="display:none;" href="#" data-toggle="modal" data-target="#inviteMemberModal">add_circle_outline</i></h3>
		<div class="container-fluid admin">
			<div class="row flex-row flex-nowrap" id="member_cont_div">
			</div>
		</div>
		</div>
	</div>
	<hr>
</div>


<div class="modal fade" id="inviteMemberModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-title" id="inviteMemberModalLongTitle">Invite Members</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="groupMemberInvites_select_dropdown_button">Invites</label>
					<div class="dropdown" >
						<button class="btn btn-secondary dropdown-toggle" type="button" id="groupMemberInvites_select_dropdown_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black;">
							<div id="groupMemberInviteNameId" style="color:black;">
								Select members to invite...
							</div>
						</button>
						<div class="dropdown-menu friendsSelectDropdown overAll" aria-labelledby="groupMemberInvites_select_dropdown_button"
							style="position:absolute; z-index: 20;" id="groupMemberInvites_select_dropdown">
						</div>
					</div>
				</div>
				<input type="button" class="confirmButton" style="width:100%; height:50px;" value="Send Invites" onclick="updateAndClickGroupMembers();">
			</div>
		</div>
	</div>
</div>

<!--  FORMS -->
<form action="/profile/" method="post">
	{% csrf_token %}
	{{ group_forms.inviteMembers.as_ul }}
	<script type="text/javascript">
		console.log("group_forms", "{{ group_forms}}");
	</script>
	<input type="hidden" name="formType" value="GroupInvite">
	<input type="submit" style="display: none;" id="submitInviteMembers">
</form>

<!-- @see: sub_templates/calendarFrame.html -->
<div id="calendarLoc">
	{% with calendarFrame as sub_template %}
		{% include calendarFrame %}
	{% endwith %}
</div>

<style type="text/css">
	.joinGroupButton{
		background-color:  #93A7FF;
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
	}
	.joinGroupButton:hover{
		background-color: #728AFF;
	}
	.leaveGroupButton{
		background-color:  #FF9999;
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
	}
	.leaveGroupButton:hover{
		background-color: #E57575;
	}
	.card-block{
		height: 100%;
		width: 200px;
	}
	.admin{
		height:175px;
		padding-top: 20px;
		padding-bottom: 20px;
		overflow-x: scroll;
		border-color: black; border-style: solid;
		border-width: 0.5px; 
		z-index: 5;
	}
	.group-head{
		font-size: 50px;
	}
	.reqField:before{
		content:"*" ;
		color:red;
	}
	.cust-card{
		width: 250px;
	}
	.addMember{
		cursor: pointer;
	}
</style>

{% load static %}
<script src="{% static 'user_interface/js/group.js' %}"> </script>
<script type="text/javascript">

	var group_dict = parseQuotesJson("{{group_dict}}");
	console.log("group_dict", group_dict);

	updateGroupDataVisual();
	updateAdminCards();
	updateMemberCards();
	loadCalendarIfNonNull();
</script>

{% endblock %}
