<head>
	{% load static %}
	 <!-- Comes from open-source https://materializecss.com/getting-started.html-->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
	<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	  rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	{% load static %}
	<script src="{% static 'user_interface/js/utilities.js' %}"> </script>
	<link rel="stylesheet" href="{% static 'user_interface/css/buttons.css' %}">
	<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/css/bootstrap4-toggle.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/js/bootstrap4-toggle.min.js"></script>
	<link rel="shortcut icon" type="image/png" href="{% static 'compass_PSN_icon.ico' %}"/>
	<title>MyAlmanack</title>
</head>

<body>

	<nav class="navbar navbar-expand navbar-dark bg-dark" style="z-index: 10;">
	  <a class="navbar-brand" href="/profile/">MyAlmanack</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsableNav" aria-controls="collapsableNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="collapsableNav">
		<ul class="navbar-nav mr-auto">
		  <li class="nav-item dropdown">
			<a class="nav-link" href="http://example.com" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons left">notification_important</i></a>
			<div class="dropdown-menu  dropdown-menu-left overAll" aria-labelledby="dropdown03">
				<form>
				<div class="dropHeader" id="e_drop_label" style="">Event Invites</div>
				<div class="dropdown-divider"></div>
				<div class="navbarDropdownClass" id="e_drop"></div>
				</form>
			</div>
		  </li>
		</ul>
		<div class="form-inline justify-content-center" style="width:75%;" action="#">
		  <input class="form-control searchStyle" type="text" placeholder="Search" style="width:100%;" onclick="searchBarUpdate();" onchange="searchBarUpdate();" onkeypress="searchBarUpdate();" onpaste="searchBarUpdate();" oninput="searchBarUpdate();" id="firstSearch">
		  <script type="text/javascript">
			$(document).ready(function(){
				$("form").each(function(){
					var curr = $(this);
					var allowed = false;
					for(var i = 0; i < curr.length; i++){
						if(curr[i].className == "canEnter"){
							allowed = true;
							break;
						}
					}
					if(allowed == false){
						curr.keydown(function(event){
							if(event.keyCode == 13) {
							  event.preventDefault();
							  return false;
							}
						  });
					}
				});
				$('#firstSearch').keypress(function(e){
				  if(e.keyCode==13){
					console.log("enter pressed");
					searchBarUpdate();
					submitSearch();
				  }
				});
			});
			function searchBarUpdate(){
				var search_form_param = document.getElementById("id_SIstring");
				var firstSearch = document.getElementById("firstSearch");
				search_form_param.value = firstSearch.value;
				if(firstSearch.value == ""){
					search_form_param.value = " ";
				}
			}
			function submitSearch(){
				var search_submit_button = document.getElementById("searchSubmitButton");
				search_submit_button.click();
			}
		  </script>
		</div>
		<ul class= "navbar-nav ml-auto">
		  <li class="nav-item dropdown overAll">
			<a class="nav-link" href="http://example.com" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons left">person</i></a>
			<div class="dropdown-menu dropdown-menu-right overAll" aria-labelledby="dropdown04">
				<form>
				<div class="dropHeader" id="f_drop_label" style="">Friend Requests</div>
				<div class="dropdown-divider"></div>
				<div class="navbarDropdownClass" id="f_drop">
				</div>
				</form>
			</div>
		  </li>
		  <li class="nav-item dropdown overAll">
			<a class="nav-link" href="http://example.com" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons left">group</i></a>
			<div class="dropdown-menu  dropdown-menu-right overAll" aria-labelledby="dropdown05">
				<form>
				<div class="dropHeader" id="g_drop_label" style="">Group Invites</div>
				<div class="dropdown-divider"></div>
				<div class="navbarDropdownClass" id="g_drop"></div>
				</form>
			</div>
		  </li>
		  <li class="nav-item dropdown overAll">
			<a class="nav-link" href="http://example.com" id="dropdown06" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons left">settings</i></a>
			<div class="dropdown-menu  dropdown-menu-right overAll" aria-labelledby="dropdown06" id="s_drop">
			  <a class="dropdown-item" data-toggle="modal" data-target="#createGroupModal" href="#">Create Group</a>
			  <a class="dropdown-item" href="/profile/edit">Edit Profile</a>
			  <a class="dropdown-item" href="/logout">Log Out</a>
			</div>
		  </li>
		</ul>
	  </div>
	</nav>
	{% block content %}
	{% endblock %}

	<form action="/profile/" method="post">
		{% csrf_token %}
		{{ header_forms.friend_response.as_ul }}
		<input type="hidden" name="formType" value="FriendResponse">
		<input type="submit"  style="display: none;" id="friendRespondRequest">
	</form>

	<form action="/search/" method="post" class="canEnter">
		{% csrf_token %}
		{{ header_forms.search_form.as_ul }}
		<input type="hidden" name="formType" value="SearchTerm">
		<input type="submit" style="display: none;" id="searchSubmitButton">
	</form>

	<form action="/profile/" method="post">
		{% csrf_token %}
		{{ header_forms.group_form.as_ul }}
		<input type="hidden" name="formType" value="CreateGroup">
		<input type="submit" style="display: none;" id="submitCreateGroup">
	</form>

	<style type="text/css">
		.reqField:before{
			content:"*" ;
			color:red;
		}
		.navbarDropdownClass{
			height:200px;
			width: 250px;
			overflow-y: scroll;
		}
		.dropHeader{
			height: 14px;
			text-align: center;
		}
		.searchStyle:focus {
			background-color: #494949;
			color: white;
		}
		.overAll{
			z-index: 2147483638;
		}
		.acceptButton{
			background-color: #7EDD81;
			border: none;
			color: white;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 15px;
			margin: 4px 2px;
			padding-top: 5px;
			cursor: pointer;
			width: 50px;
			height: 25px;
		}
		.acceptButton:hover{
			background-color: #6AB76B;
		}
		.rejectButton{
			background-color: #FF9999;
			border: none;
			color: white;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 15px;
			margin: 4px 2px;
			padding-top: 5px;
			cursor: pointer;
			width: 50px;
			height: 25px;
		}
		.rejectButton:hover{
			background-color: #E57575;
		}
		.confirmButton{
			background-color: #93A7FF;
			border: none;
			color: white;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 15px;
			margin: 4px 2px;
			padding-top: 5px;
			cursor: pointer;
			width: 50px;
			height: 25px;
		}
		.confirmButton:hover{
			background-color: #728AFF;
		}
	</style>

	<script type="text/javascript">
		var database_header_info = parseQuotesJson("{{user_header_database}}");
		console.log("database_header_info", database_header_info);

		function d_scrollTop(drop_id){
			var drop = document.getElementById(drop_id);
			drop.scrollTop = 0;
		}

		function dropdownElement(href, innerHTML){
			var ret_elem = document.createElement('a');
			ret_elem.className= "dropdown-item";
			ret_elem.href = href;
			ret_elem.innerHTML = innerHTML;
			return ret_elem;
		}

		function populateEventInvitesDropdown(){
			var notif_div = document.getElementById("e_drop");
			for(var i = 0; i < 20; i++){
				// CHANGE TO ACTUAL ID
				var event_id = i;

				var curr_elem = document.createElement('a');
				curr_elem.className= "dropdown-item overAll";
				curr_elem.href = "#";
				curr_elem.id = "e_" + event_id;
				curr_elem.setAttribute("event_id", event_id);
				var event_text_div = document.createElement('div');
				event_text_div.innerHTML = "Event Description " + i;
				event_text_div.style ="display:inline;";
				curr_elem.appendChild(event_text_div);
				var button_cont = document.createElement('div');
				button_cont.className = "container";
				var button_row = document.createElement('div');
				button_row.className = "row";
				var confirm = document.createElement('div');
				confirm.className = "col confirmButton";
				confirm.innerText = "Confirm";
				confirm.setAttribute("onclick", "confirmButtonEvent('" + curr_elem.id + "', '" + event_id + "')");
				var reject = document.createElement('div');
				reject.className = "col rejectButton";
				reject.innerText = "Reject";
				reject.setAttribute("onclick", "rejectButtonEvent('" + curr_elem.id + "', '" + event_id + "')");
				button_row.appendChild(confirm);
				button_row.appendChild(reject);
				button_cont.appendChild(button_row);
				curr_elem.appendChild(button_cont);
				notif_div.appendChild(curr_elem);
			}
		}

		function populateFriendsDropdown(){
			var notif_div = document.getElementById("f_drop");
			var friend_requests = database_header_info.friend_requests

			for(var i = 0; i < friend_requests.length; i++){
				var curr_user_req = friend_requests[i];
				
				// CHANGE USER PICTURE AND ALIAS BASED ON DATABASE
				var def_image = base64ToImage(curr_user_req.profile_picture);
				def_image.setAttribute("width", "40px");
				def_image.setAttribute("height", "40px");
				var user_alias = curr_user_req.alias;

				var curr_elem = document.createElement('a');
				curr_elem.className= "dropdown-item overAll";
				curr_elem.href = "#";
				curr_elem.id = "fr_" + user_alias;
				curr_elem.setAttribute("alias", user_alias);
				var friend_text_div = document.createElement('div');
				friend_text_div.innerHTML = curr_user_req.first_name + " " + curr_user_req.last_name;
				friend_text_div.style ="display:inline; font-size:16px;";
				var image_div = document.createElement('div');
				image_div.style = "display:inline; padding-right:20px; ";
				image_div.appendChild(def_image);
				curr_elem.appendChild(image_div);
				curr_elem.appendChild(friend_text_div);
				var button_cont = document.createElement('div');
				button_cont.className = "container";
				var button_row = document.createElement('div');
				button_row.className = "row";
				var accept = document.createElement('div');
				accept.className = "col acceptButton";
				accept.innerText = "Accept";
				accept.setAttribute("onclick", "acceptButtonRequest('" + curr_elem.id + "', '" + curr_user_req.invite_id + "')");
				var reject = document.createElement('div');
				reject.className = "col rejectButton";
				reject.innerText = "Reject";
				reject.setAttribute("onclick", "rejectButtonRequest('" + curr_elem.id + "', '" + curr_user_req.invite_id + "')");
				button_row.appendChild(accept);
				button_row.appendChild(reject);
				button_cont.appendChild(button_row);
				curr_elem.appendChild(button_cont);
				notif_div.appendChild(curr_elem);
			}
		}

		function populateGroupDropdown(){
			var notif_div = document.getElementById("g_drop");
			for(var i = 0; i < 20; i++){
				// CHANGE TO ACTUAL Group Name
				var group_id = i;

				var curr_elem = document.createElement('a');
				curr_elem.className= "dropdown-item overAll";
				curr_elem.href = "#";
				curr_elem.id = "g_" + group_id;
				curr_elem.setAttribute("event_id", group_id);
				var event_text_div = document.createElement('div');
				event_text_div.innerHTML = "Group Invite  " + i;
				event_text_div.style ="display:inline;";
				curr_elem.appendChild(event_text_div);
				var button_cont = document.createElement('div');
				button_cont.className = "container";
				var button_row = document.createElement('div');
				button_row.className = "row";
				var accept = document.createElement('div');
				accept.className = "col acceptButton";
				accept.innerText = "Accept";
				accept.setAttribute("onclick", "acceptButtonGroup('" + curr_elem.id + "', '" + group_id + "')");
				var reject = document.createElement('div');
				reject.className = "col rejectButton";
				reject.innerText = "Reject";
				reject.setAttribute("onclick", "rejectButtonGroup('" + curr_elem.id + "', '" + group_id + "')");
				button_row.appendChild(accept);
				button_row.appendChild(reject);
				button_cont.appendChild(button_row);
				curr_elem.appendChild(button_cont);
				notif_div.appendChild(curr_elem);
			}
		}

		function populateDropdowns(){
			populateEventInvitesDropdown();
			populateFriendsDropdown();
			populateGroupDropdown();
		}

		function respondFriendPost(invite_id, action){
			var response_form_id = document.getElementById("id_FIinvite_id");
			var response_form_action = document.getElementById("id_FIaction");
			response_form_id.value = invite_id;
			response_form_action.value = action;
			var submitResponseButton = document.getElementById("friendRespondRequest");
			submitResponseButton.click();
		}

		function acceptButtonRequest(div_id, invite_id){
			console.log("accept:" + invite_id);
			var cont_div = document.getElementById(div_id);
			cont_div.parentNode.removeChild(cont_div);
			respondFriendPost(invite_id, "accept");
		}

		function rejectButtonRequest(div_id, invite_id){
			console.log("reject:" + invite_id);
			var cont_div = document.getElementById(div_id);
			cont_div.parentNode.removeChild(cont_div);
			respondFriendPost(invite_id, "reject");
		}

		function confirmButtonEvent(div_id, event_id){
			console.log("confirm:" + event_id);
			var cont_div = document.getElementById(div_id);
			cont_div.parentNode.removeChild(cont_div);
		}

		function rejectButtonEvent(div_id, event_id){
			console.log("reject:" + event_id);
			var cont_div = document.getElementById(div_id);
			cont_div.parentNode.removeChild(cont_div);
		}


		function acceptButtonGroup(div_id, alias){
			console.log("accept:" + alias);
			var cont_div = document.getElementById(div_id);
			cont_div.parentNode.removeChild(cont_div);
		}

		function rejectButtonGroup(div_id, alias){
			console.log("reject:" + alias);
			var cont_div = document.getElementById(div_id);
			cont_div.parentNode.removeChild(cont_div);
		}

		populateDropdowns();

		function clearDropdowns(){
			var event_div = document.getElementById("e_drop");
			while(event_div.hasChildNodes()){
				event_div.removeChild(event_div.firstChild);
			}
			var friend_div = document.getElementById("f_drop");
			while(friend_div.hasChildNodes()){
				friend_div.removeChild(friend_div.firstChild);
			}
			var group_div = document.getElementById("g_drop");
			while(group_div.hasChildNodes()){
				group_div.removeChild(group_div.firstChild);
			}
		}

		function updateDropdownData(){
			// console.log("update");
			$.ajax({
					url: '/ajax/get_invite_data/',
					data: {},
					dataType: 'json',
					success: function (data) {
						database_header_info = data;
						clearDropdowns();
						populateDropdowns();
						// console.log(database_header_info);
					}
			});
		}
		$(document).ready(function() {
			  setInterval(
				  () => {
				    updateDropdownData();
				  },
				  5 * 1000
				);
			});

	</script>


	<div class="modal fade" id="createGroupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="createGroupModalLongTitle">Create Group</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
				<div class="form-group">
					<label class="reqField" for="inputGroupName">Group Name</label>
					<div class="row" style="padding-left: 15px; padding-right: 20px;">
						<input type="text" class="form-control col-11" onchange="updateGroupForm()" 
						onkeypress="updateGroupForm();" onpaste="updateGroupForm();" oninput="updateGroupForm();"
						class="form-control" id="inputGroupName" pattern="[A-Za-z0-9]{1,}$" required>
						<i class="col-1 material-icons" id="groupnameValidationId">check_circle_outline</i>
					</div>
				</div>
				<div class="form-group">
					<label for="inputGroupDescription">Description</label>
					<input type="text"  onchange="updateGroupForm()" onkeypress="updateGroupForm();" onpaste="updateGroupForm();" oninput="updateGroupForm();" class="form-control" id="inputGroupDescription" >
				</div>
				<div class="form-group">
					<label for="inputGroupInvites">Invites</label>
					<input type="text" onchange="updateGroupForm()" onkeypress="updateGroupForm();" onpaste="updateGroupForm();" oninput="updateGroupForm();" class="form-control" pattern="(^$)|[0-9a-zA-Z]+(,[0-9a-zA-Z]+)*$" id="inputGroupInvites">
				</div>
				<script type="text/javascript">
					var valid_group = false;
					var previous_valid_group = true;
					$(document).ready(function() {
						setInterval(
						  () => {
							if(valid_group != previous_valid_group){
								updateGroupForm();
							}
						  },
						  1000
						);
					});

					function setxgroup(){
						var groupnameValidation = document.getElementById("groupnameValidationId");
						groupnameValidation.innerText = "highlight_off";
					}

					function setcheckgroup(){
						var groupnameValidation = document.getElementById("groupnameValidationId");
						groupnameValidation.innerText = "check_circle_outline";
					}
					function performEditGroupAjax(callback, after){
						var div_group_name = document.getElementById("inputGroupName");
						$.ajax({
							url: '/ajax/validate_group_name/',
							data: {
							  'group_name': div_group_name.value
							},
							dataType: 'json',
							success: function (data) {
							  if (data.is_taken) {
								previous_valid_group = valid_group;
								valid_group = false;
								setxgroup();
							  }else{
								previous_valid_group = valid_group;
								valid_group = true;
								setcheckgroup();
								callback();
							  }
							  after();
							}
						});
					}
					function updateGroupForm(){
						var form_group_name = document.getElementById("id_GIname");
						var div_group_name = document.getElementById("inputGroupName");

						if(div_group_name.value != ""){
							var temp_callback = function(){
								var form_group_name = document.getElementById("id_GIname");
								var div_group_name = document.getElementById("inputGroupName");
								form_group_name.value = div_group_name.value;
							};
							performEditGroupAjax(temp_callback,remainderEditGroup);
						}
						

					}
					function remainderEditGroup(){
						var form_group_desc = document.getElementById("id_GIdescription");
						var div_group_desc = document.getElementById("inputGroupDescription");
						form_group_desc.value = div_group_desc.value;

						var form_group_inv = document.getElementById("id_GIinvite");
						var div_group_inv = document.getElementById("inputGroupInvites");
						form_group_inv.value = div_group_inv.value;
					}


					function updateAndClickGroup(){
						updateGroupForm();
						if(valid_group == true){
							performEditGroupAjax(
								function(){
									var submitButton = document.getElementById("submitCreateGroup");
									submitButton.click();
								},
								function(){}
								);
						}
					}


				</script>
				<input type="button" class="confirmButton" style="width:100%; height:50px;" value="Create Group" onclick="updateAndClickGroup()">

		  </div>
		</div>
	  </div>
	</div>


</body>
