{% extends "user_interface/header.html"%}

{% block content %}


	<div class="container" style="padding-top: 10px;">
	    <h1>
	    	<div class="row">
	    	<div class="col-8">
	    	<div id="name_display"> </div> 
	    	</div>
	    	<div class="col-4">
	    	<button class="friendButton">Add Friend</button>
	    	</div>
	    	</div>
	    </h1>
	  	<hr>
		<div class="row">
	      <!-- left column -->
	      <div class="col-md-3">
	        <div class="text-center">
	          <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
	          <h6><div id="alias_display"></div></h6>
	          
	        </div>
	      </div>
	      
	      <!-- edit form column -->
	      <div class="col-md-9 personal-info">
	        <h3>Personal info</h3>
		    <div class="col-lg-8" id="description_display">
		    </div>
		  </div>
	  	</div>
	<hr>
	</div>
	
    <div id="calendarLoc">
    	{% with calendarFrame as sub_template %}
    		{% include calendarFrame %}
    	{% endwith %}
    </div>
	<hr>
	<style type="text/css">
		.friendButton{
			background-color: #7EDD81; /* Green */
			border: none;
			color: white;
			padding: 15px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin: 4px 2px;
			cursor: pointer;
		}
		.friendButton:hover{
			background-color: #6AB76B;
		}
		
		</style>

<script type="text/javascript">
    	function checkFriendSelect(sel_id){
    		var check_input = document.getElementById(sel_id);
    		// console.log(check_input);
    		if(check_input.checked == true){
    			check_input.checked = false;
    		}else{
    			check_input.checked = true;
    		}
    	}
		console.log("{{dummy_events}}");
		loadProfileDummyData("{{dummy_events}}", "{{dummy_profiles}}", "{{dummy_contacts}}", "{{user}}");
		loadCalendarDataProfile("{{user_events}}", "{{friend_events}}");
		mainProf();


</script>

{% endblock %}
