{% extends "user_interface/header.html"%}

{% block content %}


	<div class="container" style="padding-top: 10px;">
	    <h1>
	    	<div class="row">
	    	<div class="col-8">
	    	<div id="name_display"> </div> 
	    	</div>
	    	<div class="col-4">
	    	<button class="friendButton" id="friendButtonId" onclick="addFriendClicked()" style="display:none;">Add Friend</button>
	    	<form action="/profile/" method="post">
				{% csrf_token %}
				{{ friend_req.as_ul }}
				<input type="hidden" name="formType" value="FriendRequest">
				<input type="submit" style="display: none;" id="subitAddFriend">
	    	</form>
	    	<button class="removeFriendButton" id="removeFriendButtonId" onclick="remFriendClicked()" style="display:none;">Remove Friend</button>
	    	<form action="/profile/" method="post">
				{% csrf_token %}
				{{ friend_rem.as_ul }}
				<input type="hidden" name="formType" value="FriendRemove">
				<input type="submit" style="display: none;" id="subitRemFriend">
	    	</form>
	    	</div>
	    	</div>
	    </h1>
	  	<hr>
		<div class="row">
	      <!-- left column -->
	      <div class="col-md-3">
	        <div class="text-center">
	          <img src="//placehold.it/100" class="avatar img-circle" alt="avatar" id="imageDisplay">
	          <h6><div id="alias_display"></div></h6>
	          
	        </div>
	      </div>
	      
	      <!-- edit form column -->
	      <div class="col-md-9 personal-info">
	        <h3>Personal info</h3>
		    <div class="col-lg-8" id="description_display">
		    </div>
		  </div>
	  	</div>
	<hr>
	</div>
	
    <div id="calendarLoc">
    	{% with calendarFrame as sub_template %}
    		{% include calendarFrame %}
    	{% endwith %}
    </div>
	<hr>
	<style type="text/css">
		.friendButton{
			background-color: #7EDD81; /* Green */
			border: none;
			color: white;
			padding: 15px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin: 4px 2px;
			cursor: pointer;
		}
		.friendButton:hover{
			background-color: #6AB76B;
		}
		.removeFriendButton{
			background-color: #FF9999;
			border: none;
			color: white;
			padding: 15px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin: 4px 2px;
			cursor: pointer;
		}
		.removeFriendButton:hover{
			background-color: #E57575;
		}
		
		</style>

<script type="text/javascript">
		var friendButton = document.getElementById("friendButtonId");
		var removeFriendButton = document.getElementById("removeFriendButtonId");
		if("{{profile_mode}}" != "self"){
			if("{{is_friend}}" == "true"){
				friendButton.style.display = "none";
				removeFriendButton.style.display = "block";
			}else{
				friendButton.style.display = "block";
				removeFriendButton.style.display = "none";
			}
		}else{
			friendButton.style.display = "none";
			removeFriendButton.style.display = "none";
		}
		function addFriendClicked(){
			console.log("addFriendClicked");
			console.log(_name_selected);
			var addFormElem = document.getElementById("id_FIreqalias");
			addFormElem.value = _name_selected;
			console.log(addFormElem);
			var submitAddFriend = document.getElementById("subitAddFriend");
			submitAddFriend.click();
		}
		function remFriendClicked(){
			console.log("remFriendClicked");
			console.log(_name_selected);
			var remFormElem = document.getElementById("id_FIremalias");
			remFormElem.value = _name_selected;
			console.log(remFormElem);
			var submitRemFriend = document.getElementById("subitRemFriend");
			submitRemFriend.click();
		}
		var database_user_json = {};
		var database_selected_json = {};
		function loadSelectedData(){
			var name_div = document.getElementById("name_display");
			name_div.innerText = database_selected_json.first_name + " " + database_selected_json.last_name;
			var alias_div = document.getElementById("alias_display");
			alias_div.innerText = "@" + database_selected_json.alias;
			var desc_div = document.getElementById("description_display");
			desc_div.innerText = database_selected_json.user_desc;
			if(database_selected_json.user_desc == ""){
				desc_div.innerText = "No description has been provided."
				desc_div.style.color = "grey";
			}
			var prof_pic_div = document.getElementById("imageDisplay");
			var img_div = base64ToImagePassed(database_selected_json.profile_picture, prof_pic_div);
			img_div.style.width = "175px";
			img_div.style.height = "175px";
		}

		database_user_json = parseQuotesJson("{{user_database}}");
		database_selected_json = parseQuotesJson("{{name_selected_data}}");
		database_user_events = parseQuotesJson("{{user_events_database}}");
		database_contact_list = parseQuotesJson("{{user_contact_list}}");
		console.log("user_database", database_user_json);
		console.log("database_user_events", database_user_events);
		console.log("database_contact_list", database_contact_list);
		console.log("database_selected_json", database_selected_json);
		loadSelectedData();
		loadCalendarDataProfile("{{user_events}}", "{{member_events}}");
		loadProfileDummyData("{{dummy_events}}", "{{dummy_profiles}}", "{{dummy_contacts}}", "{{user}}", "{{user_contact_list}}");
		mainProf("{{calendar_mode}}", "{{name_selected}}");


</script>

{% endblock %}
