{% extends "user_interface/header.html"%}

{% block content %}
<div class="container">
	<h1>Search Results for: &ldquo;<div id="searchTermDisplay" style="display: inline; color:#4F4F4F;"></div>&rdquo;</h1>
	<hr>
	<section>
		<div class="tabs tabs-style-tzoid">
			<div class="row">
			<div class="col left-block content-wrap">
				<div class="notnav left" id="trap_cont">
					<a href="#" id="users_tab" onclick="selectTab('users_tab')">Users</a>
					<a href="#" id="group_tab" onclick="selectTab('group_tab')">Groups</a>
					<a href="#" id="events_tab" onclick="selectTab('events_tab')">Events</a>
				</div>
			</div>
			</div>
		</div>
	</section>
	<div class="row boxed" id="scroll_div_cont_row">
		<div class="col" style="height:100%; border-style: solid; border-width: 0.5px;">
			<div id="scroll_div_cont" style="height:100%; width: 100%; padding-top: 10px; overflow-y: scroll;">
				<div class=" col">
				  <ul class="nav nav-pills nav-stacked" id="height_list" style="width: 100%;">
				</div>
			</div>
		</div>
	</div>
</div>

<!-- FORMS -->

<form action="/profile/" method="post">
	{% csrf_token %}
	{{ search_forms.friend_req.as_ul }}
	<input type="hidden" name="formType" value="FriendRequest">
	<input type="submit" style="display: none;" id="submitAddFriend">
</form>
<form action="/profile/" method="post">
	{% csrf_token %}
	{{ search_forms.friend_rem.as_ul }}
	<input type="hidden" name="formType" value="FriendRemove">
	<input type="submit" style="display: none;" id="submitRemFriend">
</form>

<style type="text/css">
	.w-fill{
		width: 100%;
		border-color: black; border-style: solid;
		border-width: 0.5px; 
	}
	.notnav {
		position: relative;
		z-index: 1;
		white-space: nowrap;
	}

	.notnav a {
		position: relative;
		display: inline-block;
		padding: 1.5em 1.5em 1em;
		color: inherit;
		text-decoration: none;
		margin: 0 -7px;
	} 

	.notnav a::before,
	main {
		border: .1em solid #aaa;
	}

	.notnav a::before {
		content: '';
		position: absolute;
		top: 0; right: 0; bottom: .5em; left: 0;
		z-index: -1;
		border-bottom: none;
		border-radius: 10px 10px 0 0;
		background: #ddd;
		box-shadow: 0 2px hsla(0,0%,100%,.5) inset;
		transform: perspective(5px) rotateX(2deg);
		transform-origin: bottom;
	}

	.notnav.left a {
		padding: 1.5em 2em 1em 1em;
	}

	.notnav.left a::before {
		transform-origin: bottom left;
	}

	.notnav.right a {
		padding: 1.5em 1em 1em 2em;
	}

	.notnav.right a::before {
		transform-origin: bottom right;
	}

	.notnav a.selected {
		z-index: 2;
	}

	.notnav a.selected::before {
		margin-bottom: -1px;
		border-top-width: 1px;
	}

	.notnav a.selected::before,
	main {
		background: white;
	}

	main {
		display: block;
		margin: -8px 0 30px -15px;
		padding: 1em;
		border-radius: 3px;
	}
</style>

{% load static %}
<script src="{% static 'user_interface/js/search.js' %}"> </script>
<script type="text/javascript">
	var _tabSelect = "";
	var _searchElements = {
		users : [],
		groups : [],
		events : [],
		search_term: ""
	};
	var search_data = parseQuotesJson("{{ search_data }}");
	console.log("search_data", search_data);
	for(var i = 0; i < search_data.friends.length; i++){
		search_data.friends[i].isFriend = true;
		_searchElements.users.push(search_data.friends[i]);
	}
	for(var i = 0; i < search_data.users.length; i++){
		search_data.users[i].isFriend = false;
		_searchElements.users.push(search_data.users[i]);
	}
	_searchElements.events = search_data.events;
	_searchElements.groups = search_data.groups;
	_searchElements.search_term = search_data.search_term;

	mainSearch();
</script>

{% endblock %}
