{% extends "user_interface/header.html"%}

{% block content %}
	<div class="container">
	    <h1>Search Results:</h1>
	    <hr>
		<section>
			<div class="tabs tabs-style-tzoid">
				<div class="row">
				<div class="col left-block content-wrap">
					<div class="notnav left" id="trap_cont">
						<a href="#" id="users_tab" onclick="selectTab('users_tab')">Users</a>
						<a href="#" id="group_tab" onclick="selectTab('group_tab')">Groups</a>
						<a href="#" id="events_tab" onclick="selectTab('events_tab')">Events</a>
					</div>
				</div><!-- /content -->
				</div>
			</div>
		</section>
				<div class="row boxed" id="scroll_div_cont_row">
					<div class="col" style="height:100%;">
						<div class="anyclass" id="scroll_div_cont" style="height:100%; width: 100%">
							<div class=" col">
							  <ul class="nav nav-pills nav-stacked" id="height_list" style="width: 100%;">
							</div>
						</div>
					</div>
				</div>
		<style type="text/css">
			.w-fill{
				width: 100%;
				border-color: black; border-style: solid;
				border-width: 0.5px; 
			}
			.boxed{
				border-color: black; border-style: solid;
				border-width: 0.5px; 
			}
			.anyClass {
			  overflow-y: scroll;
			  padding-top: 20px;
			}
			.notnav {
				position: relative;
				z-index: 1;
				white-space: nowrap;
			}

			.notnav a {
				position: relative;
				display: inline-block;
				padding: 1.5em 1.5em 1em;
				color: inherit;
				text-decoration: none;
				margin: 0 -7px;
			} 

			.notnav a::before,
			main {
				border: .1em solid #aaa;
			}

			.notnav a::before {
				content: '';
				position: absolute;
				top: 0; right: 0; bottom: .5em; left: 0;
				z-index: -1;
				border-bottom: none;
				border-radius: 10px 10px 0 0;
				background: #ddd;
				box-shadow: 0 2px hsla(0,0%,100%,.5) inset;
				transform: perspective(5px) rotateX(2deg);
				transform-origin: bottom;
			}

			.notnav.left a {
				padding: 1.5em 2em 1em 1em;
			}

			.notnav.left a::before {
				transform-origin: bottom left;
			}

			.notnav.right a {
				padding: 1.5em 1em 1em 2em;
			}

			.notnav.right a::before {
				transform-origin: bottom right;
			}

			.notnav a.selected {
				z-index: 2;
			}

			.notnav a.selected::before {
				margin-bottom: -1px;
				border-top-width: 1px;
			}

			.notnav a.selected::before,
			main {
				background: white;
			}

			main {
				display: block;
				margin: -8px 0 30px -15px;
				padding: 1em;
				border-radius: 3px;
			}
		</style>
		<script type="text/javascript">
			var _tabSelect = "";
			var _searchElements = {
				users : [],
				groups : [],
				events : []
			};

			function windowResized(){
				console.log("window resized");
				updateSearch();
			}

			function clearDivLists(){
				var list_div = document.getElementById("height_list");
				while(list_div.children.length > 0){
					list_div.removeChild(list_div.children[0]);
				}
			}

			function generateDummyData(){
				generateUserDummyData(0, 20);
				generateGroupDummyData(0, 20);
				generateEventDummyData(0, 20);
			}

			function generateUserDummyData(min, max){
				for(var i = min; i < max; i++){
					_searchElements.users.push(
						userStruct(null, "User:" + i, i*i)
					);
				}
			}

			function generateGroupDummyData(min, max){
				for(var i = min; i < max; i++){
					_searchElements.groups.push(
						groupStruct("Group:" + i, i*i, "tempDesc:" + i)
					);
				}
			}

			function generateEventDummyData(min, max){
				for(var i = min; i < max; i++){
					_searchElements.events.push(
						eventStruct("Event:" + i)
					);
				}
			}


			function userStruct(image_url, name, alias){
				var ret_struct = {};
				ret_struct.image_url = image_url;
				ret_struct.name = name;
				ret_struct.alias = alias;
				return ret_struct;
			}

			function groupStruct(name, alias, description){
				var ret_struct = {};
				ret_struct.description = description;
				ret_struct.name = name;
				ret_struct.alias = alias;
				return ret_struct;
			}
			function eventStruct(name){
				var ret_struct = {};
				ret_struct.name = name;
				return ret_struct;
			}


			function drawUserElement(struct){
				var image_url = struct.image_url;
				var name = struct.name;
				var alias = struct.alias;
				if(image_url == null){
					image_url = "https://t4.ftcdn.net/jpg/02/15/84/43/240_F_215844325_ttX9YiIIyeaR7Ne6EaLLjMAmy4GvPC69.jpg";
				}
				var list_elem = document.createElement('li');
				list_elem.className = "nav-item";
				list_elem.style = "width:100%;"
				var a_elem = document.createElement('a');
				a_elem.className = "navbar-text";
				a_elem.innerHTML = name;
				a_elem.style = "width:100%";
				a_elem.style.borderBottom = "1px solid grey";
				var list_div = document.getElementById("height_list");
				list_elem.appendChild(a_elem);
				list_div.appendChild(list_elem);
				return list_div;
			}

			function drawGroupElement(struct){
				var name = struct.name;
				var alias = struct.alias;
				var description = struct.description;
				var list_elem = document.createElement('li');
				list_elem.className = "nav-item";
				list_elem.style = "width:100%;"
				var a_elem = document.createElement('a');
				a_elem.className = "navbar-text";
				a_elem.innerHTML = name;
				a_elem.style = "width:100%";
				a_elem.style.borderBottom = "1px solid grey";
				var list_div = document.getElementById("height_list");
				list_elem.appendChild(a_elem);
				list_div.appendChild(list_elem);
				return list_div;
			}
			function drawEventElement(struct){
				var name = struct.name;
				var list_elem = document.createElement('li');
				list_elem.className = "nav-item";
				list_elem.style = "width:100%;"
				var a_elem = document.createElement('a');
				a_elem.className = "navbar-text";
				a_elem.innerHTML = name;
				a_elem.style = "width:100%";
				a_elem.style.borderBottom = "1px solid grey";
				var list_div = document.getElementById("height_list");
				list_elem.appendChild(a_elem);
				list_div.appendChild(list_elem);
				return list_div;
			}

			function populateUsers(){
				for(var i = 0; i < _searchElements.users.length; i++){
					var curr_struct = _searchElements.users[i];
					drawUserElement(curr_struct);
				}
			}

			function populateEvents(){
				for(var i = 0; i < _searchElements.events.length; i++){
					var curr_struct = _searchElements.events[i];
					drawEventElement(curr_struct);
				}
			}

			function populateGroups(){
				for(var i = 0; i < _searchElements.groups.length; i++){
					var curr_struct = _searchElements.groups[i];
					drawGroupElement(curr_struct);
				}
			}

			function updateSearch(){
				var trap_cont_id = "trap_cont";
				var trap_cont_div = document.getElementById(trap_cont_id);
				var trap_rect = trap_cont_div.getBoundingClientRect();
				var cont_id = "scroll_div_cont_row";
				var cont_div = document.getElementById(cont_id);
				var rect = cont_div.getBoundingClientRect();
				var users_tab_div = document.getElementById("users_tab");
				var users_rect = users_tab_div.getBoundingClientRect();
				var def_left = users_rect.left +15;
				var def_width = window.innerWidth - 2*def_left;
				def_width = Math.max(def_width, 370);
				cont_div.style = "position:absolute; border-color: black;"
				+ "border-style: solid; border-width: 0.5px; padding-bottom: 20px; top:" 
				+ (users_rect.bottom - 7) + "px;"
				+ "height:" + (50) + "%;"
				+ "width:" + (def_width) + "px;"
				+ "left:" + (def_left) + "px;";
				console.log(rect);
				console.log(cont_div);
			}

			function selectTab(sel_id){
				if(_tabSelect === sel_id){
					return;
				}
				_tabSelect = sel_id;
				clearDivLists();
				updateSearch();
				var scroll_div_cont = document.getElementById("scroll_div_cont");
				scroll_div_cont.scrollTop = 0;
				var trap_cont = document.getElementById("trap_cont");
				var children = trap_cont.children;
				console.log("selected:" + sel_id);
				console.log(children);
				for(var i = 0; i < children.length; i++){
					if(children[i].id === sel_id){
						children[i].className = "selected";
						continue;
					}
					children[i].className = "";
				}
				switch(sel_id){
					case "events_tab":
						selectEvents();
						break;
					case "group_tab":
						selectGroups();
						break;
					case "users_tab":
						selectUsers();
						break;
					default:
						return;
				}
			}
			function selectUsers(){
				console.log("select:users");
				populateUsers();
			}
			function selectEvents(){
				console.log("select:events");
				populateEvents();
			}
			function selectGroups(){
				console.log("select:groups");
				populateGroups();
			}
			function main(){
				window.addEventListener("resize", windowResized);
				generateDummyData();
				selectTab("users_tab");
				windowResized();
			}
			main();

		</script>
	</div>

	

{% endblock %}
